name: CI

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - name: Clippy
        run: cargo clippy --all-features -- -Dwarnings
      - name: Test
        run: cargo test --all-features
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - name: Build docs
        run: |
          cargo doc --all-features --no-deps
          printf '<meta http-equiv="refresh" content="0;url=%s/index.html">' $(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].name' | tr '-' '_' ) > target/doc/index.html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/doc

  deploy:
    runs-on: ubuntu-latest
    needs: doc
    if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4